@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Nunito sans", sans-serif;
}
:root {
  --lightbg: #ffffff;
  --lightbgcon: #f2f2f2;
  --darkbg: #2b3844;
  --darkbgcon: #212c36;
}

.dark {
  background-color: #2b3844;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

ol,
ul,
li,
dd,
dt,
dl {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
